<div class="row">
    <div class="col-md-12">
        <h2>Log In</h2>
        <hr>
        {{#if errorMessage}}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{errorMessage}}
        </div>
        {{/if}}
        <form action="/login" method="POST">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" required type="text" name="userName" placeholder="User Name"
                            value="{{userName}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" required type="password" name="password" placeholder="Password">
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success pull-right" value="Login">
        </form>
    </div>
</div>